.upload {
    background-color: #fff;
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
    margin-bottom: 20px;
    border: 1px solid #00000014;
}
.upload .upload__container{
    padding: 20px;
}
.upload__caption{
    flex: 1;
}
.upload .upload__container .upload__caption .upload__input{
    padding: 15px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    width: 100%;
    background-color: #f2f2f2;
    font-size: 16px;
}

.upload .upload__container .upload__caption .upload__input:hover,
.upload .upload__container .upload__picker .upload__pickerButton:hover{
    background-color: #ded9d9;
    transition: 0.3s all ease;
}

.upload .upload__container .upload__picker{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.upload .upload__container .upload__picker .upload__pickerImage{
    width: calc(100% /3 - 10px);
}

.upload .upload__container .upload__picker .upload__pickerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 16px Arial;
    color: #65676b;
    word-spacing: normal;
    background: #f2f2f2;
    border-radius: 0.5rem;
    height: 100%;
    text-transform: uppercase;
}

.upload .upload__container .upload__picker .upload__pickButton{
    width: calc(100% / 3 - 10px);
}

.upload .upload__container .upload__picker button{
    padding: 15px;
    width: 100%;
    background-color: #1a90da;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.upload .upload__container .upload__picker button:hover,
.upload__button button:hover{
    background-color: #0074D9;
    transition: 0.3s all ease;
}

.caption__holder{
    padding: 20px 10px;
    display: flex;
    background-color: #f2f2f2;
    align-content: center;
    border-radius: 8px;
}

.caption__holder svg{
    margin: 0 10px;
}

.upload__button{
    align-items: flex-end;
    justify-content: center;
    display: flex;
    padding-top: 15px;
    border-top: 1px solid #39CCCC;
}

.upload__button button{
    padding: 15px;
    width: calc(100% - 10px);
    background-color: #1a90da;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .upload{
        max-width: calc(100% - 20px);
        margin: 20px auto;
    }

}



/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .upload{
        max-width: calc(100% - 20px);
        margin: 20px auto;
    }
}

