.messenger{
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: calc(100vh - 120px);
    box-sizing: border-box;
    display: flex;
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
    background-color: #fff;
    flex-basis: 1464px;
    /*box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);*/
}

.messenger__navigation{
    border-right: 1px solid rgb(235, 238, 240);
    overflow: hidden;
    flex: 0.3;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
.messenger__navigation::-webkit-scrollbar {
    display: none;
}



.messenger__header{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999;
    background-color: #fff;
}


.navigation__header,
.user__inbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(235, 238, 240);
    width: 100%;
}
.suggest__user{
    font-size: 16px;
    width: 100%;
}

.user__inbox:hover{
    cursor: pointer;
}

.messenger__chat{
    position: relative;
    flex: 0.7;
    display: flex;
    flex-direction: column;
}



.chat__container{
    /*height: 100%;*/
    /*width: 100%;*/
    flex: 1;
    overflow-y: scroll;
}
.chat__content{
    width: 100%;
}
.sender{
    justify-content: flex-end;
}
.chat__message{
    display: flex;
    align-items: center;
    padding: 10px 16px;
}
.chat__input{
    background-color: rgba(0,0,0,0.03);
    padding: 20px;
    border-top: 1px solid rgb(235, 238, 240);
}
.chat__details{
    width: fit-content;
    border: 1px solid #efefef;
    padding: 16px;
    min-height: 44px;
    align-items: center;
    margin-left: 10px;
    border-radius: 22px;
    max-width: 50%;
    line-height: 22px;
}

.sender .chat__details{
    background: #efefef;
}




.chat__input form{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.chat__text{
    border: none;
    background-color: transparent;
    width: 90%;
    font-size: 14px;
}

