@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto+Condensed:wght@300&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');*/

*{
    margin: 0;
    /*font-family: 'Rubik', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
a{
    color: #262626;
    text-decoration: none;
}

html{
    overflow-y: scroll;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.bottomDivider{
    border-bottom: 1px solid rgb(235, 238, 240);
}
.topDivider{
    border-top: 1px solid rgb(235, 238, 240);
}
.padding-10-20{
    padding: 10px 20px;
}

.padding-20{
    padding: 20px;
}



.app{
    min-height: calc(100vh - 20px);
    position: relative;
    background-color: #f0f2f5;
}
.app__header{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #00000014;
}

.app__body{
    background-color: #f0f2f5;
    position: relative;
    min-height: calc(100vh - 80px);
    top: 0;
}

.app__bodyContainer{
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-height: calc(100vh - 80px);
}

.app__body .app__post{
    flex-basis: 766px;
    margin: 0 32px;
    z-index: 1;
}

.app__body .app__rightSideBar{
    position: sticky;
    top: 100px;
    align-self: flex-start;
    width: 290px;
}

.app__loading{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.loading__logo{
    margin-bottom: 50px;
    height: 80px;
}

/* Override css setting */
input:focus{
    outline: unset;
}

.login__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__block{
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login__article{
    flex: 0 0 50%;
}

.login__container input{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 16px;
}

.login__container input::-webkit-input-placeholder{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 15px;
}

.login__background{
    background-image: url("images/Background/undraw_cookie_love_ulvn.svg");
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.login__holder{
    display: flex;
    align-items: center;
}

.login__authForm{
    padding: 30px;
    background: #fafcff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    margin: 40px 0 0;
}

/*!* Page not found *!*/
.page404{
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

/*!*!* Responsive *!*!*/
/*@media (max-width: 767px) {*/
/*    .app__bodyContainer{*/
/*        max-width: 100%;*/
/*    }*/

/*}*/

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 80px;
    padding: 0 20px;
    max-width: 1464px;
}

.header .header__image{
    display: flex;
}
.header .header__imageLogo{
    object-fit: contain;
    height: 66px;
}

.header .header__loginContainer button{
    padding: 15px;
    width: 100px;
    background-color: #1a90da;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* Explore */
.explore__root{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.explore__root .explore__container{
    flex-direction: row;
    max-width: 990px;
    display: flex;
    flex-wrap: wrap;
}
.explore__root .explore__container .explore__gridSmall{
    width: calc(100% /3);
    padding: 10px;
    height: 380px;
}

/* Profile page */
.profile{
    min-width: 990px;
    min-height: 100%;
    flex-direction: column;
    display: flex;
}
.profile__bio{
    padding: 20px 0;
    min-height: 200px;
    display: flex;
    justify-content: center;
}
.count-infos{
    display: flex;
    padding: 10px 0;
}


.count-infos .number:not(:last-child) {
    margin-right: 20px;
}

.count-infos .number{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    direction: ltr;
}
.count-infos .unit{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 6px;
}
.share-follow-container{
    display: flex;
    padding: 15px 0;
}
.share-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 4px;
}
.share-sub-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
}
.share-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(18, 18, 18);
    white-space: pre-line;
    padding: 10px 0;
}
.share-links a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    height: 22px;
    max-width: 236px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(22, 24, 35);
}


/* Edit account page */
.edit_account{
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: calc(100vh - 240px);
    box-sizing: border-box;
    display: flex;
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
    background-color: #fff;
    flex-basis: 935px;
}
.edit_account__navigation{
    border-right: 1px solid rgb(235, 238, 240);
    overflow: hidden;
    flex: 0.3 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
.edit_account__navigation::-webkit-scrollbar {
    display: none;
}

.edit_account__content{
    position: relative;
    flex: 0.7 1;
    display: flex;
    flex-direction: column;
}



@media (max-width: 767px) {
    .header{
        max-width: 100%;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .post{
        margin: 20px auto;
    }
    .app__bodyContainer{
        padding: 0 0;
    }
    .app__body .app__post {
        margin: 0;
    }
    .explore__root .explore__container .explore__gridSmall{
        width: 100%;
    }
}

