/*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@450&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto+Condensed:wght@300&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');*/


*{
    margin: 0;
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    /*font-family: 'Roboto', sans-serif;*/
    box-sizing: border-box;
    letter-spacing: normal;

}
a{
    color: #262626;
    text-decoration: none;
}

html{
    overflow-y: scroll;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

h1, h3{
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    white-space: normal;
    letter-spacing: 1px;
    color: #000;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2b333b;
    border: 2px solid ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #242a30;
}

/* Override css setting */
input:focus{
    outline: unset;
}


.bottomDivider{
    border-bottom: 1px solid rgb(235, 238, 240);
}
.topDivider{
    border-top: 1px solid rgb(235, 238, 240);
}
.padding-10-20{
    padding: 5px 20px;
}

.padding-20{
    padding: 20px;
}



.app{
    min-height: calc(100vh - 20px);
    position: relative;
    background-color: #f0f2f5;
}
.app__header{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #00000014;
}

.app__body{
    background-color: #f0f2f5;
    position: relative;
    min-height: calc(100vh - 80px);
    top: 0;
}

.app__bodyContainer{
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-height: calc(100vh - 80px);
}

.app__body .app__post{
    flex-basis: 680px;
    margin: 0 32px;
    z-index: 1;
}

.app__body .app__rightSideBar{
    position: sticky;
    top: 100px;
    align-self: flex-start;
    width: 290px;
}

.app__loading{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.loading__logo{
    margin-bottom: 50px;
    height: 80px;
}
.post__button{
    display: flex;
}



.login__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__block{
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login__article{
    flex: 0 0 50%;
}

.login__container input{
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

.login__container input::-webkit-input-placeholder{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 15px;
}

.login__background{
    background-image: url("images/Background/undraw_cookie_love_ulvn.svg");
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.login__holder{
    display: flex;
    align-items: center;
}

.login__authForm{
    padding: 30px 50px;
    background: #fafcff;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 0px #ddc4c4bf;
    margin: 40px 0 0;
}

/*!* Page not found *!*/
.page404{
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

/*!*!* Responsive *!*!*/
/*@media (max-width: 767px) {*/
/*    .app__bodyContainer{*/
/*        max-width: 100%;*/
/*    }*/

/*}*/

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 80px;
    padding: 0 20px;
    max-width: 1464px;
}

.header .header__image{
    display: flex;
}
.header .header__imageLogo{
    object-fit: contain;
    height: 66px;
}

.header .header__loginContainer button{
    padding: 15px;
    width: 100px;
    background-color: #1a90da;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* explore */
.explore__root{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.explore__root .explore__masonry-container{
    max-width: 990px;
    padding-left: 32px;
    width: 100%;
}

.explore__root .explore__masonry,
.explore__root .explore__container
{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 340px;
    grid-auto-flow: dense;
    max-width: 990px;
}

.explore__root .explore__masonry .explore__masonry-item,
.explore__root .explore__container .explore__gridSmall{
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: auto;
    background-color: rgb(144, 118, 86);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px #a09494bf;
}

.explore__root .explore__masonry .explore__masonry-item:nth-child(3n) {
    grid-row: span 1;
}
.explore__root .explore__masonry .explore__masonry-item:nth-child(4n),
.explore__root .explore__masonry .explore__masonry-item:nth-child(7n) {
    grid-column: span 1;
    grid-row: span 1;
}
.explore__root .explore__masonry .explore__masonry-item:nth-child(5n) {
    grid-column: span 2;
    grid-row: span 2;
}

.explore__root .explore__masonry .explore__masonry-item:hover,
.explore__root .explore__container .explore__gridSmall:hover{
    box-shadow: 0px 0px 10px 0px #000000bf;
    transition: 0.2s all ease;
}



/* Profile page */
.profile{
    max-width: 990px;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    display: flex;
}
.profile__bio{
    padding: 20px 0;
    min-height: 200px;
    display: flex;
    justify-content: center;
}
.count-infos{
    display: flex;
    padding: 10px 0;
}


.count-infos .number:not(:last-child) {
    margin-right: 20px;
}

.count-infos .number{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    direction: ltr;
}
.count-infos .unit{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 6px;
    cursor: pointer;
}
.share-follow-container{
    display: flex;
    padding: 15px 0;
}
.share-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 4px;
    max-width: 500px;
    max-height: 160px;
    overflow: hidden;
}
.share-sub-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
}
.share-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(18, 18, 18);
    white-space: pre-line;
    padding: 10px 0;
}
.share-links a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    height: 22px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(22, 24, 35);
}


/* Edit account page */
.edit_account{
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: calc(100vh - 120px);
    box-sizing: border-box;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    background-color: #fff;
    flex-basis: 935px;
}
.edit_account__navigation{
    border-right: 1px solid rgb(235, 238, 240);
    overflow: hidden;
    flex: 0.3 1;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.edit_account__navigation::-webkit-scrollbar {
    display: none;
}

.edit_account__content{
    position: relative;
    flex: 0.7 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Notification unread */
.ytd-notification-renderer{
    background: linear-gradient(282.53deg, #fd3a84 8.76%, #ffa68d 100%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    right: 1rem;
    z-index: 999;
}

/* Recipe page */
.recipe__page{
    display: block;
    width: 994px;
}
.recipe__heading{
    margin: 0 auto 14px;
    padding: 7px 0 0;
    width: 100%;
}

.recipe__heading h1 {
    font-size: 44px;
    line-height: 46px;
    margin: 14px 0 21px;
}

.feature-content{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.recipe-double{
    margin-bottom: 35px;
    height: 372px;
    width: 490px;
    box-shadow: 0px 0px 5px 0px #ddc4c4bf;
}
.recipe-inner{
    border-bottom: 7px solid #0095A3;
    position: relative;
    background-color: #fff;
    height: 100%;
}
.recipe-inner-wrap{
    height: 365px;
    background: linear-gradient(
            10deg
            ,#892074 5%,#77E2E1 100%);
    position: relative;
    overflow: hidden;
}
.text-link{
    height: 100%;
    width: 100%;
    display: inline-block;
}
.recipe-inner-wrap img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.feature-content .tile-content{
    position: absolute;
    top: auto;
    bottom: 14px;
    left: 0;
    width: 100%;
}
.feature-content .tile-content .details{
    padding: 0 14px;
    background-color: transparent;
}
.feature-content  h2.title{
    font-size: 36px;
    line-height: 44px;
    padding: 2px 0;
    margin-bottom: 0;
    overflow: hidden;
    font-weight: 900;
    text-transform: uppercase;
    white-space: normal;
    letter-spacing: 1px;
    max-height: 90px;
}

.feature-content h2.title a{
    background-color: #fff;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 5px 10px;
    font-weight: 900;
    cursor: pointer;
}

.feature-content .tile-content .recipe-data{
    display: inline-block;
    background-color: #fff;
    margin: -3px 0 0;
    padding: 10px 10px 7px;

}

.feature-content .tile-content .details .name{
    display: -webkit-box;
    max-height: 16px;
    font-size: 12px;
    line-height: 16px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tile-content .details .name a{
    color: #892074;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.tile-content .details .meta-data{
    display: flex;
    padding-top: 5px;
}

.tile-content .details .meta-data  span {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.recipe__content{
    margin-top: 35px;
}

.list-recipe{
    margin-top: 20px;
}
.list-recipe-grid{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 460px;
    grid-auto-flow: dense;
    box-sizing: border-box;
    width: 100%;
}


.list-recipe-item,
.list-users-item{
    position: relative;
}
.list-recipe-wrap,
.list-users-wrap{
    height: 100%;
    border-bottom: 4px solid #892074;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #ddc4c4bf;
    border-radius: 16px;
    overflow: hidden;
}
.inner-wrap{
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.list-recipe-wrap .inner-wrap img,
.list-users-wrap .inner-wrap img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.list-recipe-item .list-recipe-wrap .tile-content,
.list-users-item .list-users-wrap .tile-content
{
    padding: 15px;
}
.list-recipe-item  h2.title{
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-height: 75px;
    white-space: normal;
}

.list-recipe-item .tile-content{
    height: calc(100% - 250px);
    width: 100%;
}
.list-recipe-item .tile-content .details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.list-recipe-item .tile-content .details h2.title a{
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.list-recipe-item .recipe-data{
    padding-bottom: 5px;
}
/* ============== Upload section ============= */
.upload {
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px #ddc4c4bf;
}
.upload .upload__container{
    padding: 20px;
}
.upload .upload__container .upload__caption .upload__input{
    padding: 15px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    width: 100%;
    background-color: #f2f2f2;
    font-size: 16px;
}
.upload .upload__container .upload__picker{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px
}
.upload .upload__container .upload__picker .upload__pickerImage,
.upload .upload__container .upload__picker .upload__pickButton{
    width: 100%;
}
.upload .upload__container .upload__picker .upload__pickerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #65676B;
    word-spacing: normal;
    border-radius: 0.5rem;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0px 0px 3px 0px #ddc4c4bf;
}
.upload .upload__container .upload__picker .upload__pickerButton:hover{
    background-color: #f2f2f2;
    transition: 0.3s all ease;
}
.upload .upload__container .upload__picker button{
    padding: 15px;
    width: 100%;
    color: #65676B;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #ddc4c4bf;
}
.upload .upload__container .upload__picker .upload__pickButton button:hover {
    background-color: #f2f2f2;
    transition: 0.3s all ease;
}
.upload .upload__container .upload__picker .upload__buttonLabel{
    padding-left: 10px;
    font-weight: 600;
    font-size: 1rem;
}
/* Popup */
.popup__caption{
    flex: 1;
    overflow-y: auto;
    padding: 5px;
}
.caption__holder{
    padding: 20px 10px;
    display: flex;
    background-color: #f2f2f2;
    align-content: center;
    border-radius: 8px;
}
.caption__holder svg{
    margin: 0 10px;
}
.upload__button{
    align-items: flex-end;
    justify-content: center;
    display: flex;
    position: relative;
}
.upload__button button{
    padding: 15px;
    width: 100%;
    background-color: #1a90da;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
}
.upload__button button span{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
}
.upload__button button:hover{
    background-color: #03649d;
    transition: 0.3s all ease;
}
.popup__picker{
    border: 1px solid #39CCCC;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
    margin: 15px 0;
}
.popup__picker .popup__iconPicker{
    display: flex;
}
.handle__button{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.handle__button div{
    flex-grow: 1;
}
.handle__upload{
    position: relative;
}
.handle__reset button{
    padding: 15px;
    width: calc(100% - 10px);
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #f2f2f2;
}
.handle__upload button{
    padding: 15px;
    width: calc(100% - 10px);
    background-color: #1a90da;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.handle__button .handle__upload button:hover{
    background-color: #0679ba;
    transition: 0.3s all ease;
}
.popup__review{
    position: relative;
    margin-top: 15px;
}
/* Stepper */
.step{
    padding-top: 15px;
}

/*============== Side Bar =====================*/
.sideBar__containerBlock{
    background-color : #fff;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px #ddc4c4bf;
    overflow: hidden;
}
.trending__container{

}
.sideBar__containerBlock .trending__header,
.sideBar__containerBlock.trending__name{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.sideBar__containerBlock .trending__name{
    padding-bottom: 10px;
}
.headerPadding{
    padding-top: 10px;
}
.trending__content{
    height: 255px;
    overflow-y: auto;
}
.trending__content .chat__details{
    text-align: justify;
    line-height: 22px;
    font-size: 12px;
    max-width: 80%;
    padding: 10px;
    margin: 0;
}
.trending__content .chat__message{
    padding: 5px 10px;
}
.trending__content .chat__container{
    padding: 5px 0;
    display: flex;
    height: 100%;
    align-items: center;
}


.sideBar__containerBlock .trending__content .trending__contentBlock .trending__header h4{
    color: rgb(91, 112, 131);
}
.trending__container .show-more:hover,
.suggest__content:hover{
    background-color: rgba(0,0,0,0.03);
    cursor: pointer;
    transition: 0.3s all ease;
}



.sideBar__containerBlock .show-more span{
    color: #1a90da;
    font-weight: bold;
}

.suggest__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggest__content .followBtn{
    margin-right: 20px;
    border-radius: 20px;
}


.suggest__user{
    padding: 10px 0;
}


.until__container.sideBar__containerBlock{
    background-color: unset;
}

/* =============== Timeline Page ================= */
.post{
    background-color: #fff;
    margin: 0px auto 20px auto;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 0px #ddc4c4bf;
    overflow: hidden;
}
.post__content{
    display: block;
}
.post__contentImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 780px;
    border-top: 1px solid rgb(235, 238, 240);
    border-bottom: 1px solid rgb(235, 238, 240);
}
.post__header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post__avatar{
    margin-right: 10px;
}
.post__caption{
    padding: 20px;
    word-break: break-word;
    text-align: justify;
    display: inline-block;
    text-rendering: optimizeLegibility;
    width: 100%;
    line-height: 22px;
    white-space: pre-line;
}
.post__caption .post__user{
    color: #262626;
    font-weight: 600;
    text-decoration: none;
    margin-right: 10px;
}
.commentContainer{
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.commentContainer .comment__input{
    padding: 10px 20px;
    border: none;
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}
.commentContainer form{
    display: flex;
    width: 100%;
}
.commentContainer button,
.commentContainer button:hover{
    background: transparent;
    font-weight: bold;
    transition: 0.3s all ease;
    box-shadow: unset;
}
.commentContainer button:disabled{
    background-color: transparent;
    font-weight: normal;
}
.comment__sub{
    padding-left: 10px;
    display: flex;
    position: relative;
}
.comment__sub-popup,
.comment__sub-popup span{
    display: block;
}
.comment__sub-popup a {
    width: 80%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment__caption p{
    padding: 10px;
    text-align: justify;
    word-break: break-word;
    line-height: 20px;
}
.comment__content{
    padding: 0 10px;
    width: 100%;
}
.comment__action{
    display: flex;
    max-width: 50%;
    justify-content: space-between;
}
.commentDetails{
    padding: 20px;
    display: flex;
    align-items: flex-start;
}
.commentDetails:hover{
    background-color: rgba(0,0,0,0.03);
    cursor: pointer;
}
.commentDetails a{
    color: #262626;
    font-weight: 600;
    text-decoration: none;
    margin-right: 10px;
}
.commentDetails span{
    font-size: 0.875rem;
}
.comment__see-more{
    padding: 20px 20px 10px 20px;
    font-weight: bold;
    cursor: pointer;
}
.comment__see-more-btn{
    display: flex;
    justify-content: center;
    padding: 0 0 10px;
}

.action__expand{
    margin-left: auto;
}

.recipe_layout{
    display: flex;
}
.recipe_layout__content-left,
.recipe_layout__content-right{
    flex: 1 1 0;
    padding: 20px !important;
}
.recipe_layout__facts{
    margin-bottom: 20px;
}
.recipe-facts__info{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px dotted #606060;
}
.recipe-facts__prepare{
    flex: 1 1 50%;
    border-right: 1px dotted #606060;
    padding: 10px 0;

}
.recipe-facts__cooking{
    flex: 1 1 50%;
    text-align: right;
    padding: 10px 0;
}
.recipe-facts__servings{
    padding: 10px 0;
}
.recipe-facts__title{
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-transform: capitalize;
    white-space: normal;
    letter-spacing: 1px;
    font-size: 14px;
}
.review__data {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.commentViewer{
    padding: 0;
    margin-top: auto;
    flex-direction: column;
    align-items: normal;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

/*============== Messenger page ================*/
.messenger{
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: calc(100vh - 120px);
    box-sizing: border-box;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    background-color: #fff;
    flex-basis: 1464px;
    /*box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);*/
}

.messenger__navigation{
    border-right: 1px solid rgb(235, 238, 240);
    overflow: hidden;
    flex: 0.3;
    overflow-y: auto;
    -ms-overflow-style: none;

}
.messenger__navigation::-webkit-scrollbar {
    display: none;
}
.messenger__header{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999;
    background-color: #fff;
}
.navigation__header,
.user__inbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(235, 238, 240);
    width: 100%;
}
.suggest__user{
    font-size: 16px;
    width: 100%;
}
.user__inbox:hover{
    cursor: pointer;
}
.messenger__chat{
    position: relative;
    flex: 0.7;
    display: flex;
    flex-direction: column;
}
.chat__container{
    /*height: 100%;*/
    /*width: 100%;*/
    flex: 1;
    overflow-y: auto;
}
.chat__content{
    width: 100%;
}
.sender{
    justify-content: flex-end;
}
.chat__message{
    display: flex;
    align-items: center;
    padding: 10px 16px;
}
.chat__input{
    padding: 10px;
    border-top: 1px solid rgb(235, 238, 240);
}
.chat__details{
    width: fit-content;
    border: 1px solid #efefef;
    padding: 16px;
    min-height: 44px;
    align-items: center;
    margin-left: 10px;
    border-radius: 22px;
    max-width: 50%;
    line-height: 22px;
}

.sender .chat__details{
    background: #efefef;
}
.chat__input form{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

}
.chat__text{
    border: none;
    background-color: transparent;
    width: 90%;
    font-size: 14px;
}
.chat__holder{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px 0 5px 5px;
}
.chat__button{
    margin-left: 15px
}
.chat__iconPicker {
    padding: 5px !important;
}


/*============ Page add menu =================*/
.item-restaurant-row{
    flex-grow: 1;
}

.addMenu__button{
    gap: 10px;
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 20px;
    z-index: 999;
    position: sticky;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    justify-content: center;
    background-color: #fff;
}

/* Open chat rasa */
.chat__sasimi{
    position: absolute;
    top: 90vh;
    right: 100px;
}

.right-chat-input{
    display: flex;
    align-items: center;
}
.right-chat-input__holder{
    padding: 10px 20px;
    border: none;
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
    width: 100%;
    font-size: 16px;
    line-height: 10px;
}
.right-chat-input button{
    background: transparent;
    font-weight: bold;
    transition: 0.3s all ease;
    box-shadow: unset;
    font-size: 14px;
    text-transform: capitalize;
}
.right-chat-input button:hover{
    background: transparent;
    font-weight: bold;
    transition: 0.3s all ease;
    box-shadow: unset;
}

/*  =========== SURVEY ==========*/
.survey__title{
    font-size: 1.5rem;
}


/* ============= Page user ============*/
.list-users{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 990px;
    flex-wrap: wrap;
}
.list-users__header{
    min-height: 60px;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-left: 32px;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 0px 5px 0px #ddc4c4bf;
}

.list-users__container{
    width: 100%;
    margin: 16px 0 0 32px;
    border-radius: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    box-sizing: border-box;
}

.list-users-item h2.title{
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    letter-spacing: 1px;
    height: 75px;
    white-space: normal;
}

.list-users-item .tile-content{
    height: calc(100% - 220px);
    width: 100%;
}
.list-users-item .tile-content .details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.list-users-item .tile-content .details h2.title a{
    width: 100%;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.user-location{
    font-size: 12px;
    color: #888;
    font-weight: 500;
}
.list-users-item .follow-me{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*.{*/
/*    height: 250px;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*}*/
/*============= Responsive ===================*/
@media (max-width: 767px) {
    .header{
        max-width: 100%;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .post{
        margin: 20px auto;
    }
    .app__bodyContainer{
        padding: 0 0;
    }
    .app__body .app__post {
        margin: 0;
    }
    .explore__root .explore__masonry-container{
        padding: 0 10px;
    }
    .explore__root .explore__masonry{
        grid-template-columns: repeat(2, 1fr);
    }
    .explore__root .explore__container{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 500px;
    }

}

@media print {
    .no-print {
        display: none;
    }
}